{% extends 'base.html' %}

{%  import 'bootstrap/wtf.html' as wtf %}
{% block title %}修改密码{% endblock %}
{% block head %}
   {{ super() }}


    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css')}}">
{% endblock %}

{% block page_content %}



    <div class="user">
    <div id="user2">

        <form class="form-horizontal" role="form" method="post">
            {{ form.hidden_tag() }}

            <div class="form-group">

                <div class="col-sm-4">
                     {{ wtf.form_field(form.old_password,class="form-control",id="password0",placeholder="") }}
                </div>
                   {% if form.old_password.errors %}
                    <ul class="errors">
                        {% for error in form.old_password.errors %}
                            <div class="alert alert-info">{{ error }}</div>



                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">

                <div class="col-sm-4">
                    {{ wtf.form_field(form.password,class="form-control",id="password1",placeholder="") }}
                       {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                            <div class="alert alert-info">{{ error }}</div>



                        {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </div>
            <div class="form-group">

                <div class="col-sm-4">
                    {{ wtf.form_field(form.password2,class="form-control",id="password2",placeholder="") }}

                </div>
                   {% if form.password2.errors %}
                    <ul class="errors">
                        {% for error in form.password2.errors %}
                            <div class="alert alert-info">{{ error }}</div>



                        {% endfor %}
                    </ul>
                {% endif %}
            </div>


            <div class="form-group">
                <label for="name" class="col-sm-2 control-label"></label>
                     {{ wtf.form_field(form.submit,class="btn" ) }}

            </div>



        </form>
    </div>
</div>














{% endblock %}